// Colors
$color-primary: #085f1c;
$color-secondary: #28a745;
$color-accent: #4a4d4a;

$color-text-primary: #085f1c;
$color-text-secondary: #4c4c52;

// Fonts
$font-primary: "Noto Serif", sans-serif;
$font-secondary: "Jost", sans-serif;

// Global
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: $font-primary;
  color: $color-text-primary;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4 {
  font-family: $font-secondary;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.text-h3 {
  font-family: $font-primary;
  font-style: italic;
  color: $color-text-secondary;
  text-transform: none;
}

// Navigation

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;

  &__inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 24px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 17px;
      position: relative;

      &:hover ul {
        display: block;
      }

      ul {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 12px;

        li {
          display: block;
          margin-bottom: 12px;
          background: $color-primary;

          a {
            color: $color-primary;
            padding: 0 24px;

            &:hover {
              color: $color-secondary;
            }
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: $color-primary;

    &:hover {
      color: $color-secondary;
    }
  }

  .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
      font-family: "Birthstone";
      color: $color-secondary;
      font-size: 44px;
      text-transform: none;
      margin-top: 0;
    }
  }

  .nav-menu a {
    font-size: 17px;
    font-weight: 500;
    line-height: 80px;
    font-family: $font-secondary;
    text-transform: uppercase;
  }
}

.button {
  display: inline-block;
  padding: 16px 36px;
  margin-top: 30px;
  background-color: $color-secondary;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-accent;
  }

  .button-text {
    font-family: $font-secondary;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
}

// Splash
.splash {
  position: relative;
  min-height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 100px;

  .splash-text {
    margin: 0 auto;
    text-align: center;

    h1 {
      margin: 20px 110px;
      font-family: $font-secondary;
      font-size: 80px;
      font-weight: 500;
      line-height: 80px;
      letter-spacing: 0.1em;
    }

    h2 {
      margin: 24px 0;
      font-family: $font-primary;
      font-weight: 300;
      font-size: 30px;
      font-style: italic;
      line-height: 52px;
      color: $color-text-secondary;
      text-transform: none;
    }
  }

  &-start {
    min-height: 700px;
    background-image: url("https://i.postimg.cc/3JPw7Yfm/pexels-paggiarofrancesco-793088.jpg");
    background-position: center;
    margin-bottom: 150px;

    .splash-inner-start {
      position: relative;
      margin: auto;
    }

    .splash-inner-button {
      position: relative;
      margin: auto;
      max-width: 80%;
      color: $color-text-primary;
      background-color: rgba(246, 248, 245, 0.75);
    }
  }
}

.splash::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

// Features

.features-section {
  text-align: center;
  margin: 50px 0;

  .text-title {
    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
      color: $color-text-secondary;
      margin-bottom: 40px;
    }
  }

  .features {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .feature {
      flex: 1;
      text-align: center;
      padding: 20px;

      .feature-icon {
        width: 80px;
        height: 80px;
        margin: 0 auto 20px auto;
        border: 2px solid $color-secondary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: $color-secondary;
          font-size: 36px;
          width: 40px;
          height: 40px;
        }
      }

      .feature-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 12px;
      }

      .feature-text {
        font-size: 16px;
        color: $color-text-secondary;
        line-height: 1.5;
      }
    }
  }
}

// Responsywność
@media (max-width: 900px) {
  .features {
    flex-direction: column;
    gap: 30px;
  }
}

// Peaks

.peaks {
  padding: 80px 20px;
  background-color: #f8f8f8;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &-header {
    text-align: center;
    margin-bottom: 50px;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
      color: #777;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .peak-card {
    background: #fff;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
      display: block;
    }

    h3 {
      font-size: 20px;
      margin: 20px 0 5px;
    }

    p {
      font-size: 14px;
      color: #888;
      margin-bottom: 20px;
    }

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    }
  }
}

@media (max-width: 1024px) {
  .peaks {
    &-grid {
      grid-template-columns: repeat(2, 1fr); // tablet
    }
  }
}

@media (max-width: 600px) {
  .peaks {
    &-grid {
      grid-template-columns: 1fr; // mobile
    }
  }
}

// Footer
.site-footer {
  color: #222;
  padding: 20px;
  position: relative;

  .footer-container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
  }

  .copyright {
    font-family: $font-secondary;
    font-weight: 500;
  }

  .social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 15px;

    .icon {
      width: 40px;
      height: 40px;
      background: #444;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      transition:
        background 0.3s,
        transform 0.3s;

      &:hover {
        background: $color-secondary;
        transform: scale(1.1);
      }

      i {
        font-size: 16px;
      }
    }
  }
}
