// Colors
$color-primary: #1e6b86;
$color-secondary: #54595f;
$color-accent: #12b6f1;

$color-text-primary: #1e6b86;
$color-text-secondary: #0a0a0f;

// Fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Jost", sans-serif;

.navigation {
  max-width: 1300px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent; // <-- Pasek nawigacji bez tła

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 17px;
      position: relative;

      &:hover {
        ul {
          display: block;
        }
      }

      ul {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 12px;

        li {
          display: block;
          margin: 0 0 12px 0;
          background: var(
            --color-text-primary
          ); // można zmienić, jeśli chcemy inny kolor submenu

          a {
            color: var(--color-primary);
            padding: 0 24px;

            &:hover {
              color: var(--color-secondary);
            }
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--color-text-primary); // tekst nawigacji

    &:hover {
      color: var(--color-secondary);
    }
  }

  .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      height: 40px;
      margin-left: 60px;
    }
  }

  .nav-menu {
    a {
      text-decoration: none;
      font-size: 17px;
      line-height: 80px;
      font-family: var(--font-primary);
      text-transform: uppercase;
    }
  }
}
